// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$sb-dark-blue: #3562a5;

$match-col-1: #0a1d56;
$match-selected: #492e87;

$buddy-blue-1: rgb(36, 33, 46);
$buddy-blue-2: rgb(32, 29, 44);
$buddy-blue-3: rgb(43, 39, 59);
$buddy-blue-4: rgb(56, 51, 77);
$buddy-blue-5: rgb(68, 62, 93);
$buddy-blue-6: rgb(80, 73, 109);
$buddy-blue-7: rgb(92, 84, 125);
$buddy-blue-8: rgb(104, 95, 141);
$buddy-blue-9: rgb(116, 106, 157);
$buddy-blue-10: rgb(128, 117, 173);
$buddy-blue-11: rgb(140, 128, 189);
$buddy-blue-12: rgb(152, 139, 205);
$buddy-blue-13: rgb(164, 150, 221);
